.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow:0 1px 3px -2px black;
    
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
}
.nav-logo p{
    font-size:38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border:none ;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width:157px;
    height: 58px;
    outline: none;
    border: 1px solid #fdfafa;
    border-radius : 75px;
    color: #f5f1f1;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #fdf8f8;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    
}

[data-theme="mylight"] .nav-login-cart button {
    background: transparent;
    color: #050505;
}

[data-theme="mydark"] .nav-login-cart button {
    background: white;
    color: #050505;
}

.nav-login-cart button:active {
    background: #161616;
    color: white;
}


.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: rgb(15, 14, 14);
}
